/*primary colors*/
$white-cl: #fff;
$black-cl: #000;
$red-cl: #fa190f;
$yellow-cl: #fba310;
$green-cl: #1f5d6e;
$white-blue: #f4f6fd;
$background-cl: #fefefe;
$background-hv: #f3f3f3;
$product-cl: #001a25;
$white-be: #fffdfa;
$black-sub: #5f5f5f;
/*global text color*/
$text-cl: #1b3742;
$text-black-cl: #000;

/*global bg color*/
$main-bg-cl: #000;
$black-bg-cl: #000;

// timing transition
//transition
$t: 0.5s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

/*font families*/
$font-stack: "Open Sans", sans-serif;
$font-main: arial;

/*headings typo*/
$fz-text: 20px;
$lh-text: normal;

$fz-text-m: 16px;
$lh-text-m: normal;

// slider typo
$fz-slider-title: 4vw;
$ff-slider-title: "EB";
$fz-slider-des: 0.75rem;
$ff-slider-des: "IT";
$fz-slider-btn: 0.65rem;

//============================================================//

/*BOXED LAYOUT*/
$container-max-width: 1920px;
// tùy thuộc vào container của bản thiết kế mà chỉnh sửa cho hợp lý
$container-width: 1190px;

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 2000px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop
